@import './base.css';

body {
  color: #333333;
}

.analysis-page {
  max-width: 500px;
  margin: auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

button {
  width: max-content;
  padding: 6px 15px;
  font-size: 17px;
  margin-top: 10px;
  background-color: rgb(121, 212, 194);
  color: white;
  border-radius: 30px;
  border: 1px solid rgb(121, 212, 194);
}

button:hover {
  transform: scale(1.1);
  display: inline-block;
}

.error {
  color: red;
}